/*100163445*/

/*=============================
		CSS IMPORTS
==============================*/
/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
/*=============================
		BODY STYLING
==============================*/

body {
	font-family:'Raleway', arial, sans-serif !important;
	font-size:100%;
}

h1, h2, h3 {
	font-weight: bold;
}

a:hover {
	text-decoration: none !important;
}

a:active {
	
}

img {
	max-width: 100%;
	display: block;
}

/*=============================
		HEADER STYLING
==============================*/

header {
	padding-top: 40px;
	padding-bottom: 40px;
	width:100%;
}
/* Navigation Section */
nav {
	text-align: center;
	clear:both;
	width:100%;
	margin:3em auto 2em;
	display: inline-block;
}

nav a, a:active, a:focus {
	color:#333;
	display: inline-block;
	margin:0;
	margin-bottom:20px;
	font-family:'Lora';
	text-transform: uppercase;
	padding:22px;
	font-size:1.1em;
	font-weight: 500;
	text-decoration: none;
	outline:none;
}

.nav-menu-btn {
	color: white;
	cursor:pointer;
	padding:15px 30px;
	background:#36a687;
	width:150px;
	margin:2em auto 1em;
	font-family: 'Montserrat';
	text-align: center;
	text-transform: uppercase;
	border: none;
	display:block;
}

.nav-menu-btn img {
	width:15px;
	display:inline-block;
	margin-right:10px;
	vertical-align: baseline;
	position: relative;
    top: 2px;
}

nav a:hover, a:active, .current {
	color:#9bc6ba;
	border-bottom:3px solid #9bc6ba;
}

/* Logo Section */
#logo-block {
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
}

.logo {
	width:150px;
	margin:0 auto;
}

.logo-title {
	color:#175808;
	font-size:1.4em;
	margin-top:.5em;
	font-weight: 700;
}

	
/* Desktop Devices */
@media screen and (min-width: 865px) {
	/* Navigation Elements */
	.nav-menu-btn {
		display:none;
	}
}

/* Mobile Phone + Tablet Devices */
@media screen and (max-width: 865px) {
	/* Navigation Elements */
	nav a, nav a:hover, .current {
		display: block;
		border-bottom:none;
	}

	nav {
		border-top:1px solid #E4E4E4;
		padding-top:40px;
	}
}

@media handheld, only screen and (max-width: 900px) {
	/* Gallery */
	.gal-img .col-1-3 {
		width:100% !important;
		margin:0 auto !important;
		display: block !important;
		height:100% !important;
	}
}

.body-overlay {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	display: block;
	background-color:rgba(0, 0, 0, 0.30) !important;
}

.btn {
	background:white;
	font-weight: bold !important;
	color:#333 !important;
	padding:20px 35px !important;
	font-family: 'Montserrat';
	text-transform: uppercase;
	border-radius:60px !important;
}

.btn:active {
	border:none;
	font-size:1em;
	transform:none;
	margin:0;
}

.hero-wrapper {
	height:800px;
	background:linear-gradient(180deg, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20)), url('../img/library.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}

.hero-info-wrapper {
	margin:0 auto;
	display: block;
	transform:translateY(-50%);
	top:50%;
	position:relative;
	color:white;
	text-align: center;
	padding:20px;
}

.hero-info-wrapper h1 {
	margin:.6em;
	font-weight:700;
	font-family:'Montserrat';
}

.hero-info-wrapper p {
	margin-bottom:2em;
	font-size:1.25em;
}


.page-hero {
	background:linear-gradient(180deg, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20)); /* background overlay color */
	text-align:center;
	background-size:cover !important;
	background-repeat:no-repeat;
	position:relative;
	height:500px;
}

.page-hero-content {
	transform:translateY(-50%);
	top:50%;
	position:relative;
}

.page-hero h1 {
	font-family:'Montserrat';
	color:white;
	font-size:3.5em;
	font-weight: bold;
}

.page-hero-about {
	background:linear-gradient(180deg, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20)), url(../img/modules.jpg) !important; /* background overlay color */
	background-size:cover !important;
	background-repeat:no-repeat;
}

.page-hero-gallery {
	background: url(../img/taskswalp.jpg) !important; /* background overlay color */
	background-size:cover !important;
	background-repeat:no-repeat;
}

.page-hero-reviews {
	background:linear-gradient(180deg, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20)), url(../img/progress.jpg) !important; /* background overlay color */
	background-size:cover !important;
	background-repeat:no-repeat;
}

.page-hero-attractions {
	background:linear-gradient(180deg, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20)), url(../img/upload.jpg) !important; /* background overlay color */
	background-size:cover !important;
	background-repeat:no-repeat;
}


.about-property {
	width:400px;
	margin:0 auto 1em;
	border-radius:5px;
}

.hr {
	border-color:#999;
}

.content-wrapper {
	margin:0 auto;
	padding-top:2em;
	max-width:80%;
}

.content-wrapper h1 {
	font-family:'Montserrat';
	font-size:1.6em;
	font-weight: bold;
	margin:2em 0 1.6em;
	color:#111;
}

.content-wrapper p {
	font-size: 1.1em;
}

.fac-grid h1 {
	font-size:2em;
	font-weight:bold;
	text-align: center;
	margin:2em auto;
}

.fac-block {
	text-align: center;
	padding:0 50px;
	margin-bottom:3em;
}

.fac-block img {
	margin:1em auto;
	width:100px;
}

.fac-block h2 {
	font-size:.9em;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: bold;
}

.fac-quantity {
	vertical-align: top;
	font-size:.8em;
	color:#36a687;
}

.fac-bonus {
	margin:1em auto;
	padding:6px 15px;
	width:100px;
	font-size:.7em;
	letter-spacing: 0.04em;
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	background:#36a687;
	border-radius:3px;
	color:white;
}

.gallery {
	max-width:70%;
}

.gal-img {
	clear:both;
	width: 100%;
	padding-bottom:2em;
	margin:0 auto;
	display: block;
}

.gal-img img {
	height:300px;
	cursor:zoom-in;
	padding:10px;
}

.gal-img img:hover {
	transform:scale(1.2,1.2);
	transition:all ease-in 200ms;
}

.imgzoom-container {
	width:auto !important;
}

.imgzoom-wrap {
	border-radius: 3px;
	font-family: inherit !important;
	background: rgba(255, 255, 255, 0.94)!important;
	border:none !important;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.52) !important;
}

.imgzoom-next {
	display: none !important;
}

.imgzoom-prev {
	display: none !important;
}

.review-box {
	text-align: center;
	font-size:.9em;
}

.review-box p {
	margin-bottom:3em;
}

.review-box img {
	margin:0 auto 3em;
	width:200px;
	height:200px;
	border-radius:100%;
}

.review-box h2 {
	margin:0 auto 2em;
	font-size:1.4em;
}

.comments h4 {
	font-size:1.4em;
	margin-bottom:1.6em;
}

.comments input, textarea {
	width:100%;
	margin:0 auto 1.5em;
	border:1px solid #D3D3D3;
	padding:15px;
	clear:both;
	display:block;
}

.form-btn {
	padding:15px 30px;
	cursor:pointer;
	border:none;
	background:#36a687;
	color:white;
	border-radius:3px;
	text-transform: uppercase;
	font-weight:bold;
	margin:1.5em .5em;
	display: inline-block;
}

#contact {
	margin-top:2em;
}

#contact h1 {
	font-weight:600;
}

.devon-map iframe {
	width:500px;
	height:300px;
	border:0;
}

.form-btn:focus, .form-btn:active {
	outline:none;
}

.attr {
	padding:20px;
	text-align: center;
}

.attr h1 {
	font-size:2em;
	text-align: center;
	color:#111;
	margin:1em auto 2em;
}

.attr-block h2 {
	font-size:1.3em;
	text-align: center;
	margin:1em;
}

.attr img {
	margin:0 auto 1.8em;
	width:250px;
	height:250px;
	border-radius:100%;
}

.attr p {
	font-size:1.2em;
	margin-bottom: 5em;
}

.form-wrap {
	margin:0 auto;
	display: block;
}

.form-wrap label {
	clear:both;
	font-weight: 500;
	font-size:1.2em;
}

.form-wrap .msg {
	margin-top: 1em;
}

.form-wrap input[type='radio'] {
	clear:none;
	width:20px;
}

.form-wrap input[type='text'] {
	padding:15px;
}

.form-wrap input, .form-wrap input:focus {
	clear:both;
	width:100%;
	margin:1em auto 1em;
	outline:none;
}

.form-wrap textarea, .form-wrap textarea:focus {
	margin:1em auto 2em;
	height:200px;
	outline:none;
}

.form-wrap button {
	padding:20px 60px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	margin:0 auto;
	width:100%;
	display: block;
	font-size:1.2em;
	color:white;
	background:#9bc6ba;
	cursor: pointer;
	outline:none;
	border:none;
	margin-bottom:2em;
	letter-spacing: 0.04em;
}

.devon-map {
	padding-left:3em;
}

.devon-map h3 {
	font-size:1.2em;
	margin:1em auto 1em;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
* Author: Pali madra
 * URI: http://www.agilewebsitedev.com
                   and
         http://www.agileseo.net
 * Licensed under the MIT License:
 * https://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #f2f8fc;
}

.tasks {
	
	float:right;
  margin: 100px auto;
  width: 240px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tasks1 {
	
	float:right;
  margin: -350px auto;
  width: 240px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tasks2 {

  margin: -350px auto;
  width: 500px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tasks3 {
	
	float:right;
  margin: 120px auto;
  width: 240px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tasks-header {
  position: relative;
  line-height: 24px;
  padding: 7px 15px;
  color: #5d6b6c;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f0f1f2;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -moz-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -o-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: linear-gradient(to bottom, #f5f7fd, #e6eaec);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
}

.tasks-title {
  line-height: inherit;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

.tasks-lists {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  padding: 10px 4px;
  width: 19px;
  height: 3px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
.tasks-lists:before {
  content: '';
  display: block;
  height: 3px;
  background: #8c959d;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
  box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
}

.tasks-list-item {
  display: block;
  line-height: 24px;
  padding: 12px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tasks-list-item + .tasks-list-item {
  border-top: 1px solid #f0f2f3;
}

.tasks-list-cb {
  display: none;
}

.tasks-list-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}
.tasks-list-mark:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}
.tasks-list-cb:checked ~ .tasks-list-mark:before {
  display: block;
}

.tasks-list-desc {
  font-weight: bold;
  color: #8a9a9b;
}
.tasks-list-cb:checked ~ .tasks-list-desc {
  color: #34bf6e;
  text-decoration: line-through;
}
.container {
width: 300px;
margin: 30px auto 0;
}

.progress {
overflow: hidden;
height: 18px;

background-color: #f7f7f7;
background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);

-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}

.progress .bar {
width: 50%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}

.progress .bar1 {
width: 77%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
.progress .bar2 {
width: 77%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
.progress .bar3 {
width: 99%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
.progress .bar4 {
width: 45%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
.progress .bar5 {
width: 96%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
